:root {
  background-color: #181818;
  color: white;
}

.app-wrapper {
  margin: 0 auto;
  display: grid;
  width: 1200px;
  min-height: 100vh;
  grid-template-areas:
    'header header'
    'nav content';
  grid-template-rows: 100px 1fr;
  grid-template-columns: 2fr 10fr;
  /*grid-gap: 10px;*/
}

.profile-bg {
  width: 800px;
}

.app-wrapper-content {
  grid-area: content;
  background-color: #202020;
}
